.container1{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid;
  border-color: pink palevioletred skyblue violet;
  padding: 50px;
 row-gap:30px ;
 background-color: #FFE6E6;
 border-radius: 20px;
 width: 50vw;
 flex-direction: column;
 margin-left: 400px;
 margin-top: 150px;
}
.title h1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: palevioletred;
}
.watch{
  display: flex;
  flex-direction: row; 
}
.timer{
  display: flex;
  border: 3px solid;
  border-color: pink palevioletred skyblue violet;

  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
  width: 150px;
}
.timer h6{
  position: relative;
  top: 10px;
  font-size: 20px;
  color:  palevioletred;
}
.timer h1{
  color: palevioletred;
}
.btns button{
  width: 150px;
  height: 40px;
  font-size: 23px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 20px;
  background-color: pink;
  border: 2px solid;
  border-color: palevioletred;
  margin-left: 30px;
}
.btns button:active{
  background-color:  maroon;
}